{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}
    <div class="text-center">
        {% image page.banner_image fill-1400x300 as img %}
        <img src="{{ img.url }}" class="img-fluid" alt="{{ img.alt }}">
    </div>
<div class="container-md text-center p-3">

    <h1>Hello Store</h1>
    <h2>{{ page.banner_title}}</h2>
    <p>
        {{ page.introduction }}
    </p>


    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              {%  for cycle in self.carousel_images.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active{% endif %}" data-bs-interval="6000">
                    {% image cycle.carousel_image fill-900x400 as img %}
                        <img src="{{ img.url }}" class="d-block w-100" alt="...">
                    </div>
              {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>

        {% include_block page.content %}
</div>
{% endblock content %}
