{% load static wagtailuserbar menus_tags cache%}

{% get_menu 'main' as navigation %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DjangoWebsite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                {% cache 604800 navigation %}
                    {% for item in navigation.menu_items.all %}
                        <li  class="nav-item">
                            <a href="{{ item.link }}" class="nav-link">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                {% endcache %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-link text-white">
                        {% if request.user.is_authenticated %}
                            Hi {{ request.user.username }},
                            <a href="{% url 'account_logout' %}" class="nav-link d-inline">Logout?</a>
                        {% else %}
                            Hi Guest!
                            <a href="{% url 'account_login' %}" class="nav-link d-inline">Login?</a>
                        {% endif %}
                    </li>
                </ul>
            <!-- Search Bar -->
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
    </div>
</nav>