{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}

    {% image page.image fill-1400x300 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}">

        <h1>Hello Store</h1>
        <h2>{{ page.banner_title}}</h2>
    <p>
        {{ page.intro }}
    </p>
    <p>
    <table class="table table-dark table-striped">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
          </tr>
          <tr>
            <td class="table-secondary">
                Product Available: {{ page.product.prodName }}
            </td>
            <td class="table-secondary">
                {% image page.product.product_image fill-300x200 as img1 %}
                <img src="{{ img1.url }}" alt="{{ img1.url }}">
            </td>
          </tr>
    </table>
    </p>

{% endblock content %}
