{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

    {% image page.banner_image fill-1400x300 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}">

        <h1>Hello Store</h1>
        <h2>{{ page.banner_title}}</h2>
    <p>
        {{ page.introduction }}
    </p>
{% include 'home/welcome_page.html' %}


{% endblock content %}
