{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags cache%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}


{% block content %}
<div class="container-md">
    <!-- Cover Photo -->
    {% image page.image fill-1400x300 as img %}
    <img src="{{ img.url }}" class="img-fluid" alt="{{ img.alt }}">
    <!-- Introduction -->
    <div class="text-white text-center bg-dark">
        {% include_block page.intro %}
    </div>
    <!-- PAGE BLOCK -->
    <div class="clearfix">
        <div class="content-wrapper">
            {% for block in page.content %}
                {% cache 604800 store_page_preview block.id %}
                {% include_block block %}
                {% endcache %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
