{% load wagtailimages_tags %}
<div class="container mb-sm-5 mt-sm-5">
<hr class="my-4">
    <h1 class="text-center mb-sm-5">{{ self.title }}</h1>
    <div class="card-deck">
        {% for food in self.foodCard %}
            {% image food.image fill-300x200 as img %}
            <div class="card">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{ food.title }}</h5>
                    <p class="card-text">{{ food.text }}</p>
                    <p class="card-text">{{ food.price }}</p>
                    {% if card.button_page %}
                        <a href="{{ food.button_page.url }}" class="btn btn-primary">
                            Learn More
                        </a>
                    {% elif food.button_url %}
                        <a href="{{ food.button_url }}" class="btn btn-primary">
                            Learn More
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
